.todo {
  position: relative;

  font-size: var(--text-md);
}

.todoInner {
  display: flex;
  align-items: center;
  padding: var(--space-10) 0;

  border-bottom: 1px solid var(--secondary-color);

  cursor: pointer;
}

.todoRemove {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translate(135%, -50%);
  cursor: pointer;
}

.todoCompleted {
  color: var(--color-grey);
  text-decoration: line-through;
}

.checkbox {
  width: 25px;
  height: 25px;
  margin-right: var(--space-10);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--primary-color);
  border-radius: 5px;

  user-select: none;
}

.checked {
  background-color: var(--primary-color);
}
